;; shadow-cljs configuration
{:deps {:aliases [:cljs :shadow-cljs]}
 :dev-http {8080 "classpath:public"}
 :nrepl {:port 50042}
 :builds {:main {:target :browser
                 :output-dir "resources/main/public/js/main"
                 :asset-path "/js/main"
                 :modules {:main {:init-fn hortinvest.app/init
                                  :entries [hortinvest.app]}}
                 :devtools   {:after-load hortinvest.app/init}
                 :release {:compiler-options {:optimizations :advanced}}}
          :test {:target :browser-test
                 :test-dir "resources/public/js/test"
                 ;; :runner-ns tests.client-test-main
                 :devtools {:http-port 8021
                            :http-root "resources/public/js/test"}}
          :ci {:target :karma
               ;; :output-to "target/ci.js"
               :output-to "resources/public/js/ci/main.js"
               }
          }}
